<b>Do you want to encode or decode?<b>
<br><form method="post" action="answers">
    <input type="text" name="encode_decode">
<br>
<br>
<b>What is the word you want to use?<b>
<br>
<input type="text" name="word">
    <br>
    <br>
<b>Please enter a numerical value between 1 and 26 for your shift key?<b>
<br>
    <input type="text" name="key">
    <br>
    <br>
<input type="submit">
</form>

<br>
<img class="irc_mi" src="http://www.animatedimages.org/data/media/202/animated-dog-image-0712.gif" alt="Image result for free animated gifs" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="300" height="329" style="margin-top: 12px;">