<head>
<link href="/css/main.css" rel="stylesheet">
<title>
Encoder_decoder
</title>
</head>
<body>
    <div class="puppies">   
        <%=yield%>
    </div>
</body>
<footer>
    <div class="puppies"> 
        Program created by Kris Folds
        <br>
        WV KIDD
    </div>
</footer>
